*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.halamanutama {
  background-color: #9c835f;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.gambaratas {
  padding: 0;
  margin: 0;
  height: 100px;
  display: flex;
  align-content: center;
  align-items: center;
}
.iconback {
  width: 40px;
  height: fit-content;
  padding-left: 10px;
}
.iconpermainan {
  width: 50px;
  height: fit-content;

  padding-left: 30px;
}
.judul {
  color: #f9b23d;
  font-size: 40px;
  font-weight: bold;

  padding-left: 60px;
  height: fit-content;
}
.container0 {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-basis: 33%;
  height: 50px;
}
.kolomA {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  /* background-color: blue; */
  margin: 50px;
  height: fit-content;
}
.kolomB {
  margin: 50px;
  /* padding-left: 50px; */
  /* padding-right: -50px; */
  height: fit-content;
  width: 50px;
}
.kolomC {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  /* background-color: blue; */
  margin: 50px;
  height: fit-content;
}

.container1 {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-basis: 33%;
  height: 70px;

  /* margin-bottom: -50px; */
}
.kolom1 {
  /* background-color: aqua; */
  margin: 50px;
  height: fit-content;
}
.kolom2 {
  /* background-color: yellow; */
  margin: 100px;
  /* width: 50px; */
  height: fit-content;
}
.kolom3 {
  /* background-color: green; */
  margin: 50px;
  height: fit-content;
}

.container2 {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-basis: 33%;
  height: 100px;
}
.kolom1a {
  /* background-color: aqua; */
  margin: 50px;
  width: fit-content;
  height: fit-content;
  /* margin-left: 10px; */
  /* margin-left: 60px; */
}
.kolom2a {
  /* background-color: yellow; */
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 2px;
  color: red;
  /* margin: 45px; */
  padding: 40px;
  height: fit-content;
  /* width: 150px; */
}
.kolom3a {
  /* background-color: green; */
  margin: 50px;
  width: fit-content;
  height: fit-content;
}

.container3 {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-basis: 33%;
  height: 100px;
}
.kolom1b {
  /* background-color: aqua; */
  margin: 50px;
  height: fit-content;
}
.kolom2b {
  /* background-color: yellow; */
  margin: 100px;
  /* width: 50px; */
  margin-bottom: -50px;

  height: fit-content;
}
.kolom3b {
  /* background-color: green; */
  margin: 50px;
  height: fit-content;
}
.refreshbtn {
  justify-content: center;
  display: flex;
}
